import(gridExtra)
import(dplyr)
import(Matrix)
import(igraph)
import(readr)
import(ggplot2)
export(construct_supraadjacency_matrix)
export(lcc_based_network_selection)
export(read_graphs_from_folder)
export(weighted_multiplex_propagation)
export(plot_lcc_overview)
export(plot_lcc_distribution)
export(plot_z_score_ranking)
export(plot_degree_dist)


export(create_complete_edgelist_from_graph_list)
export(get_all_unique_nodes)
export(build_transitional_matrix)
exportPattern("^[[:alpha:]]")